/* Remove default padding and margins from all elements*/
* 
{
    margin: 0;
    padding: 0;
}

body 
{
    font-family: 'Montserrat', sans-serif;
    background-color: #2e303e;
    color: white;
}

p 
{
    font-size: 15px !important;
    line-height: 1.4em;
    font-weight: 300;
    width: 100%;
}

.p-padding
{
    padding-bottom: 16px;
}

.p-pad-top
{
    padding-top: 16px;
}

.pad-top-16
{
    padding-top: 16px;
}

.root
{
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 32px;
}

.font-default
{
    font-size: 15px !important;
}

.font-small
{
    font-size: 12px !important;
}

.font-large
{
    font-size: 30px !important;
}

.font-white
{
    color: white;
}

.font-code
{
    font-family: 'Consolas', monospace;
}

.font-center
{
    text-align: center;
}

.fix-blackline
{
    padding-bottom: 1px;
}

@media only screen and (hover: none) and (pointer: coarse)
{
    .font-default
    {
        font-size: 13px !important;
    }
    
    .font-small
    {
        font-size: 10px !important;
    }
    
    .font-large
    {
        font-size: 28px !important;
    }
}
