.tag_container 
{
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    margin-top: 8px;
}

.tag 
{
    padding: 4px 8px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 8px;
    background-color: #6b6bb8;
    color: #171727;
    z-index: 1;
}

.tag-engine
{
    background-color: #ec973e;
    color: #1f1408
}

.tag-language 
{
    background-color: #4085F5;
    color: #0b1629
}

.tag-other
{
    background-color: #6b6bb8;
    color: #171727
}

.tag-important
{
    background-color: #d46161;
    color: #220f0f
}

.tag-date
{
    background-color: #82b16d;
    color: #1d2718 
}